.form-inline{
    display: flex;
    align-items: center;
}

.btn{
    float:right;
    margin-right: 15px;
    margin-bottom: 15px;
}
.card-margin {
    margin-bottom: 10px;
}
.row{
    padding-top: 90px;
    padding-bottom: 75px;
    column-span: 10px;
    row-gap: 15px;
}

.page-link{
    color: black;
}
.page-link:hover {
    color: black ;
}

.right{
    float: right;
}

.pagination{
    position: fixed;
    bottom: 0;
    margin-left: 570px;
}

.navbar{
   position: fixed;
   top: 0;
   width: 100%;
   background-color: whitesmoke;
   overflow: hidden;
}

.left{
    padding-left: 15px;
}


.color{
    color: grey;
}

.color:hover {
    color: black ;
}

h5 {
    padding-top: 10px;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
}

h6{
    padding-left: 10px;
    padding-top: 10px;
    font-family: Arial, Helvetica, sans-serif;
}

.nopadding{  /*tirar o padding da coluna */
    /*padding: 0 !important; */
    padding: 0 !important ;
    margin: 0 !important;
}