.form-inline{
    display: flex;
    align-items: center;
}


.btn{
    float:right;
    margin-right: 15px;
    margin-bottom: 15px;
}


.card-margin {
    margin-bottom: 10px;
}


.row{
    padding-top: 90px;
    padding-bottom: 75px;
    column-span: 10px;
    row-gap: 15px;
}


.page-link{
    color: black;
}
.page-link:hover {
    color: black ;
}


.right{
    float: right;
}


@media only screen and (min-width : 500px) {

    .container { max-width: 1700px; } 
} 


.pagination{
    margin: -20px -50px; 
    position:relative;
    top:95%; 
    left:48.3%;
    position: fixed;
    bottom: 0;
}


.navbar{
   position: fixed;
   top: 0;
   width: 100%;
   background-color: whitesmoke;
   overflow: hidden;
}


.left{
    padding-left: 15px;
}


.color{
    color: grey;
}


.center{
    margin: auto;
    width: 50%;
    padding: 10px;
}


.centerimg{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}


.color:hover {
    color: black ;
}

.notfound{
   display: none;
   width: 100%;
   position: absolute;
   top:50%;
   transform: translateY(-50%);
   text-align: center;
   color: #343434;
}

.notfound h1,h2{
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.notfound h2{
    font-size: 60px;
    margin:0;
    font-weight: 600;
    margin-top: -25px;
}

.notfound h1{
    font-size: 200px;
    margin:0;
    font-weight: 900;
    margin-top: -25px;
}

.notfound a {
    margin-top: 40px;
    text-decoration: none;
    background-color: #343434;
    color: #fff;
    padding: 12px 24px;
    display: inline-block;
    border-radius:25px ;
    text-transform: uppercase;
    font-size: 14px;
    transition: 1s;
    font-weight: 700;
}

.notfound a:hover{
    background-color: #e5e5e5;
    color: #343434;
}

h5 {
    padding-top: 10px;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
}


h6{
    padding-left: 10px;
    padding-top: 10px;
    font-family: Arial, Helvetica, sans-serif;
}


.nopadding{  /*tirar o padding da coluna */
    /*padding: 0 !important; */
    padding: 0 !important ;
    margin: 0 !important;
}